<div class="mx-4 grid mt-5">
    <div class="col-12 sm:col-12 md:col-12 lg:col-9 xl:col-9">
        <p-card header="Listado de Saldo" styleClass="p-2">
            <p-table [value]="saldos" [scrollable]="true" scrollHeight="flex"  [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Descripción</th>
                        <th>Monto</th>
                        <th>Tipo Saldo</th>
                        <th>
                            <saldo-add-component [tiposSaldo]="tiposSaldo"></saldo-add-component>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-saldo>
                    <tr>
                        <td>{{ saldo.descripcion }}</td>
                        <td>{{ saldo.monto }}</td>
                        <td>{{ saldo.TipoSaldo.descripcion }}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-raised p-button-danger mr-2"></button>
                            <saldo-update-component [tiposSaldo]="tiposSaldo"></saldo-update-component>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>

    </div>
    <div class="col-12 sm:col-12 md:col-12 lg:col-3 xl:col-3">
        <div class="grid">
            <div class="col-12">
                <p-card header="Saldo Actual">
                    <p class="m-0 text-5xl text-center">
                        <span class="font-bold">{{ 20232.434 | currency:"$ "}}</span>
                    </p>
                </p-card>
            </div>
            <div class="col-12">
                <p-card header="Total de ingresos por tipo">
                    <p class="m-0">
                        <shared-char-pie-component *ngIf="itemsChartPie.length > 0" [items]="itemsChartPie"></shared-char-pie-component>
                    </p>
                </p-card>
            </div>
        </div>
    </div>

</div>